<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSFaceIDUsageDescription</key>
	<string>Ứng dụng cần sử dụng Face ID để xác thực truy cập vào dữ liệu mật khẩu.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.602369251035-561v7gfg84ri4fj06q2a1t26tss2c21t</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
